.comment-container
  position absolute
  width 100%
  left 0
  top 0

@keyframes comment
  from
    right 0
  to
    right 100%

.comment
  display inline
  position absolute
  top 0
  animation comment 10s linear
  animation-fill-mode both
